{% extends "layout.html" %}   

{% block content %}

    <form method="POST" action="{{ url_for('words.search_word') }}">
        <div class="search-box">
            {{ form.search(placeholder="Search", type="text") }}
            <button class="search-button" type="submit">Search</button>
        </div>
    </form>
    
    {% if meanings %}
        <h1>{{ word }}</h1>   
        <form action="{{ url_for('words.save_word') }}" method='POST'>
            <button class="search-button" type="submit">Save this word!</button>
        </form>
            <ul>
            {% for meaning in meanings %}
                <li>{{ meaning }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    
{% endblock content %}

