{% extends "layout.html" %}

{% block content %}
<br>
<h1>Quiz</h1>
    {% if start %}
        Quiz Has Started! <br>
        Definition: {{ correct_definition }}
        <br>
        <form action="/dashboard/check" method='POST'>
            {% for option in question_list %}
                <input type="radio" value="{{ option }}" name="option">{{ option }}
                
            {% endfor %}
            <button type=submit>Submit</button>
        </form>
    {% endif %}
{% endblock content %}